extends layout

block content
    main
        h1 Reads

        if (result.length)
            each read in result
                p id = #{read.id}, aid = #{read.aid}, timestamp = #{read.timestamp}
                p readnumtotal = #{read.readnumtotal}, readnumdaily = #{read.readnumnumweekly}, readnummonthly = #{read.readnumweekly}, readnummonthly = #{read.readnummonthly},
